<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Favicons -->
  <link href="/static/assets/img/favicon.ico" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    {% include 'nav.html' %}
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="user" class="d-flex justify-content-center">
      <div class="container bg-user p-5 rounded d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

        
          <h1>Search</h1>
          <p>Search among 100,000+ books</p>
          <br>
          <form action="/search/" id="search" method="post">
          {% csrf_token %}
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="addon-wrapping" name="searchfield">
          </div>
        </form>
          
        

        

        <div class="row portfolio-container overflow-y-scroll d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
          {% for book in books %}
            <div class="card p-3 m-3" style="width: 18rem;">
              <img src="{{book.thumbnail}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><strong>{{book.title}}</strong></h5>
                <br>
                <p class="card-text">{{book.authors}}</p>
                <a href="#" class="btn btn-primary" id="detailsbutton" data-bs-toggle="modal" data-bs-target="#Modal{{book.id}}">View Details</a>
                
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
          </section>
          <div>
          {% for book in books %}
            <div class="modal fade " id="Modal{{book.id}}" data-aos="fade-up" tabindex="-1">
              <div class="modal-dialog modal-dialog-scrollable">
                <form method="post">
                  {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-body">
                      <img src="{{book.thumbnail}}" class="card-img-top mb-3" alt="...">
                      <input type="hidden" name="thumbnail" value="{{book.thumbnail}}">
                      <h4 id="booktitle"><strong>{{book.title}}</strong></h4>
                      <input type="hidden" name="title" value="{{book.title}}">
                      <input type="hidden" name="id" value="{{book.id}}">
                      <br>
                      <h5>Further Details</h5>
                      <ul>
                        <li id="booksubtitle"><strong>Subtitle:</strong> {{book.subtitle}}</li>
                        <input type="hidden" name="subtitle" value="{{book.subtitle}}">
                        <li id="bookpublisher"><strong>Publisher:</strong> {{book.publisher}}</li>
                        <input type="hidden" name="publisher" value="{{book.publisher}}">
                        <li id="bookauthors"><strong>Authors:</strong> {{book.authors}}</li>
                        <input type="hidden" name="authors" value="{{book.authors}}">
                        <li id="bookpublishdate"><strong>Publish Date:</strong> {{book.publishdate}}</li>
                        <input type="hidden" name="publishedDate" value="{{book.publishdate}}">
                        <li id="bookdescription"><strong>Description:</strong> {{book.description}}</li>
                        <input type="hidden" name="description" value="{{book.description}}">
                      </ul>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" formaction="/addbook/" class="btn btn-primary" id="detailsbutton">Add as Record</button>
                    <button type="submit" formaction="/startreading/" class="btn btn-primary" id="detailsbutton">Start Reading</button>
                  </div>
                </div>
              </form>
              </div>
            </div>
          {% endfor %}
        </div>

        

        
<!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}<!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'main.js' %}"></script>

</body>

</html>